.container {
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.form-control, .form-select {
    border-radius: 6px;
}
.btn-custom {
    min-width: 120px;
}
.form-check-inline input {
    margin-left: 5px;
}

.pagination .page-link {
    font-size: 18px; /* Chỉnh kích thước chữ */
    font-weight: bold; /* Chữ đậm */
}

